.layer0 {
  background-color: #eee;
}

.layer1 {
  background-color: #ddd;
}

.layer2 {
  background-color: #eee;
}

p {
  padding: 0 12px;
  color: white;
  background-color: hotpink;
}

.layerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layerImage {
  position: absolute;
  top: 90px;
  width: 100px;
}

img {
  padding: 6px 6px 32px;
  border: 1px solid black;
  box-shadow: 0px 4px 5px 2px #bbb;
}

.layerImage0 img {
  transform: rotate(-5deg);
}

.layerImage1 img {
  transform: rotate(5deg);
}

.layerImage2 img {
  transform: rotate(-3deg);
}

