.layer-0 {
  background-color: #eee;
}

.layer-1 {
  background-color: #ddd;
}

.layer-2 {
  background-color: #eee;
}

.layer-image {
  position: absolute;
  top: 90px;
  width: 100px;
}

.layer-image0 img {
  transform: rotate(-5deg);
}

.layer-image1 img {
  transform: rotate(5deg);
}

.layer-image2 img {
  transform: rotate(-3deg);
}

.layer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  padding: 0 12px;
  color: white;
  background-color: hotpink;
}

img {
  padding: 6px 6px 32px;
  border: 1px solid black;
  box-shadow: 0px 4px 5px 2px #bbb;
}

